@font-face {
  font-family: 'Homecu Awesome';
  src: url("fonts/Hcu.eot");
  src: url("fonts/Hcu.eot?#iefix") format("embedded-opentype"), url("fonts/Hcu.woff") format("woff"), url("fonts/Hcu.ttf") format("truetype"), url("fonts/Hcu.svg#homecu-awesome") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="hcu-"]:before,
[class*='hcu-']:before {
  display: inline-block;
  font-family: 'Homecu Awesome';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #59b915 !important; }

.hcu-homecu:before {
  content: '\0041'; }

.hcu-ncua:before {
  content: '\0042'; }

.hcu-ehl-text:before {
  content: '\0043'; }

.hcu-ehl:before {
  content: '\0044'; }

.hcu-bbb:before {
  content: '\0045'; }

/* Reset */
html, body, h1, h2, h3, h4, h5, h6, div, address {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Raleway', sans-serif !important;
  font-variant-numeric: lining-nums;
  -moz-font-feature-settings: "lnum" 1;
  -moz-font-feature-settings: "lnum=1";
  -ms-font-feature-settings: "lnum" 1;
  -o-font-feature-settings: "lnum" 1;
  -webkit-font-feature-settings: "lnum" 1;
  font-feature-settings: "lnum" 1; }

/* Safari mobile phone links */
a[href^=tel] {
  color: inherit;
  text-decoration: none;
  background: none;
  font-size: inherit;
  padding: 0; }

*:focus {
  outline: 1px dashed #79c142; }

button:focus {
  outline: 1px dashed #79c142 !important; }

*::-moz-selection {
  color: #fff;
  background: #79c142; }

*::selection {
  color: #fff;
  background: #79c142; }

a {
  color: #79c142; }
  a:hover {
    color: #800000;
    text-decoration: none; }

/* Skip Nav */
.skip-nav {
  list-style: none;
  margin: 0; }
  .skip-nav li {
    width: 100%; }
  .skip-nav a {
    text-decoration: none;
    position: fixed;
    left: -4000px;
    background: #333;
    color: #fff;
    border: 2px solid #fff;
    font-size: 19px;
    margin: 10px;
    padding: 10px;
    z-index: 999; }
    .skip-nav a:focus {
      left: 0; }

#hbLogin .modal-content {
  border: 0;
  border-radius: 0; }
#hbLogin .modal-dialog {
  top: calc(50vh - 200px); }
#hbLogin .modal-header {
  border: 0; }
#hbLogin .modal-title {
  font-size: 1.5em; }
#hbLogin .featured-btn-no-animation, #hbLogin input[type="submit"] {
  font-size: 1em;
  color: #fff;
  background: rgba(0, 0, 0, 0.9);
  border-radius: 25px;
  padding: 5px 10px;
  text-transform: capitalize;
  text-decoration: none;
  width: unset; }
  @media (min-width: 576px) {
    #hbLogin .featured-btn-no-animation, #hbLogin input[type="submit"] {
      padding: 10px 20px; } }
#hbLogin .featured-btn-no-animation:hover, #hbLogin input[type="submit"]:hover {
  color: #fff;
  background: #79c142; }
#hbLogin .hbinput {
  width: 75%;
  padding: 10px 15px;
  border: 0;
  border-bottom: 2px solid #222; }
  @media (min-width: 576px) {
    #hbLogin .hbinput {
      width: 80%; } }
#hbLogin .hbinput:hover, #hbLogin .hbinput:focus {
  border-bottom: 2px solid #79c142; }
#hbLogin .hblinks {
  text-align: center;
  padding-top: 20px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-around; }
  #hbLogin .hblinks a {
    color: #222; }
  #hbLogin .hblinks a:hover {
    text-decoration: none;
    color: #79c142; }

.minipromo-wrapper {
  background: #111;
  padding: 20px;
  margin: -16px;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33); }

.minipromo .catch {
  font-size: 2em;
  color: #fff;
  padding-bottom: 10px; }

.icon-wrapper {
  display: inline-block;
  padding: 5px; }

#mpBtn {
  float: right; }

h1 {
  margin: 40px 0; }

h2 {
  margin: 40px 0 20px 0; }

.contract-wrapper img {
  cursor: pointer; }

.btn-info {
  background: #79c142;
  color: #fff !important;
  border: 0; }

.btn-info:hover, .btn-info:active {
  background: #222;
  border: 0; }

#warning-modal-footer-content a {
  color: #222; }

#warning-modal .modal-header, #warning-modal .modal-footer {
  border: 0 !important; }

.fr-slider .owl-nav.disabled {
  display: block !important; }

.fr-slider .owl-prev {
  display: none; }

.fr-slider-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: column;
  background: #fff; }

.fr-slider {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  padding: 50px 0;
  background: #fff; }

.fr-slider .item {
  background: #fff;
  padding-left: 40px;
  padding-right: 40px;
  width: 100vw; }
  @media (min-width: 1200px) {
    .fr-slider .item {
      padding-left: 0;
      padding-right: 0; } }

.fr-slider .item-item {
  color: #fff; }

.fr-wrapper {
  background: #333;
  color: #fff;
  padding-top: 10px; }

.fr-wrapper .row {
  padding: 20px 40px; }

.fr-content div {
  text-align: center;
  margin: 0 auto 10px auto; }

.fr-content {
  width: 95%;
  padding: 20px;
  background: #79c142; }

.fr-content:hover {
  background: #222; }

.fr-content .title {
  font-size: 1.45em;
  padding: 0; }
  @media (min-width: 1350px) {
    .fr-content .title {
      padding: 0; } }

.fr-content .title.longtext {
  padding: 0; }

.fr-content .percent {
  font-size: 3em; }

@media (min-width: 576px) {
  .fr-block div {
    text-align: center;
    margin: 0 auto 20px 0; } }
/* Nav */
/* Navigation */
header {
  z-index: 950;
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-transition: all .3s;
  transition: all .3s; }

header.scrolling {
  background: rgba(0, 0, 0, 0.75);
  -webkit-transition: all .3s;
  transition: all .3s; }

header.scrolling.scrolling2 {
  background: rgba(0, 0, 0, 0.9); }

img.logo {
  height: 60px;
  width: auto;
  margin: 10px; }

@media (min-width: 576px) {
  img.logo {
    height: 85px;
    width: auto;
    margin: 10px 20px; } }
@media (min-width: 768px) {
  img.logo {
    margin: 60px 40px 40px 40px; } }
.button-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: flex-end;
  width: 100%; }

.h-btn > .bar {
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33);
  -webkit-transition: all .15s;
  /* Safari */
  transition: all .15s; }

.h-btn > .bar.l {
  position: relative; }

.h-btn > .bar.r {
  position: relative; }

.fa-lock {
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33); }

.h-wrapper {
  position: fixed;
  right: 20px;
  z-index: 110; }

.bar {
  display: block;
  width: 35px;
  height: 2px;
  margin: 0 auto 10px auto;
  background-color: #333; }

span.hb {
  font-family: 'Raleway', sans-serif;
  text-transform: none;
  display: none; }

.scrolling .hb, .scrolling2 .hb {
  color: #21272f;
  text-shadow: 0px 1px 2px rgba(255, 255, 255, 0.33); }

.hb {
  width: auto;
  font-size: 1em;
  background: transparent;
  border: 0;
  color: #fff;
  cursor: pointer;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center; }
  @media (min-width: 576px) {
    .hb {
      width: auto;
      height: 40px;
      position: relative;
      top: 25px; } }
  @media (min-width: 768px) {
    .hb {
      padding: 0 0 10px 0; } }

.btn-title {
  display: none; }
  @media (min-width: 768px) {
    .btn-title {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      color: #333;
      font-size: 1.5em;
      line-height: 1.5em;
      padding: 0 30px 0 17px;
      align-items: center; } }

.menu-circle {
  border-radius: 100%;
  width: 40px;
  height: 40px;
  padding: 7px 20px;
  background: #333; }
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .menu-circle {
      padding: 7px 10px !important; } }

.fa.fa-lock, .fa.fa-bars, .fa-map-marker-alt, .fa.fa-times {
  width: unset;
  font-size: 1.5em;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center; }

.fa.fa-times {
  padding-left: 2px !important; }

#slideMenu {
  position: fixed;
  right: -300px;
  z-index: 107;
  background: rgba(0, 0, 0, 0.75);
  width: 300px;
  height: 100vh;
  -webkit-transition: all 0.4s cubic-bezier(0.82, 0.01, 0.35, 0.98);
  /* Safari */
  transition: all 0.4s cubic-bezier(0.82, 0.01, 0.35, 0.98); }

#slideMenu.active {
  right: 0;
  overflow-y: scroll;
  -webkit-transition: all 0.4s cubic-bezier(0.82, 0.01, 0.35, 0.98);
  /* Safari */
  transition: all 0.4s cubic-bezier(0.82, 0.01, 0.35, 0.98); }

#overlay {
  transform: scale(0);
  border-radius: 1000px;
  height: 100% !important;
  width: 100% !important;
  z-index: 105 !important;
  background: rgba(0, 0, 0, 0);
  position: fixed;
  left: 58vw;
  -webkit-transition: all 0.5s cubic-bezier(0.82, 0.01, 0.35, 0.98);
  transition: all 0.5s cubic-bezier(0.82, 0.01, 0.35, 0.98); }

html.overlay {
  overflow-y: hidden; }

#overlay.active {
  transform: scale(3);
  background: rgba(0, 0, 0, 0.75);
  position: fixed;
  top: 0;
  left: 0;
  cursor: url(../images/close.png), auto;
  -webkit-transition: all 0.5s cubic-bezier(0.82, 0.01, 0.35, 0.98);
  transition: all 0.5s cubic-bezier(0.82, 0.01, 0.35, 0.98); }

@media (min-width: 768px) {
  .logo {
    height: 67px;
    width: auto;
    margin: 10px 40px; }

  .logo img {
    width: 70%;
    margin: 0 auto;
    display: block; }

  .h-wrapper {
    position: fixed;
    right: 20px;
    z-index: 110; }

  .h-btn {
    position: relative;
    top: 20px;
    height: 30px;
    background: none;
    color: #fff;
    cursor: pointer;
    vertical-align: top;
    margin-right: 40px;
    border: 0; }

  .h-btn:first-child {
    border: 1px solid #fff; }

  .bar {
    display: block;
    width: 35px;
    height: 2px;
    margin: 0 auto 10px auto;
    background-color: #fff; }

  span.hb {
    font-family: 'Raleway', sans-serif;
    text-transform: none;
    display: block;
    padding-left: 5px; }

  .fa.fa-lock {
    width: unset; } }
/*!
 * TableCloth v1.0.0
 * Copyright (c) 2018 Nick Adams
 * Licenced under the MIT license.
 *
 * A tiny front-end framework for attractive tables out of the box
 */
.fourCol tr td:nth-child(2), .inception tr td:nth-child(2) {
  width: 26.5%; }

.fourCol tr td:nth-child(1), .inception tr td:nth-child(1) {
  width: 47%; }

.threeCol tr td:nth-child(2), .inception tr td:nth-child(2) {
  width: 26.5%; }

.threeCol tr td:nth-child(1), .inception tr td:nth-child(1) {
  width: 47%; }

.twoCol tr td:nth-child(2), .inception tr td:nth-child(2) {
  width: 26.5%; }

.twoCol tr td:nth-child(1), .inception tr td:nth-child(1) {
  width: 47%; }

.ratetable, .inception {
  width: 100%;
  margin: 0;
  border-collapse: collapse; }
  .ratetable a, .inception a {
    color: #d80d00; }

.ratetable:last-child {
  margin-bottom: 80px; }

.ratetable tr:last-child {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }

.ratetable td {
  font-size: 1.2em; }

.ratetable caption {
  color: #ffffff;
  background: #222;
  border-bottom: 1px solid #fff;
  text-align: left;
  caption-side: top;
  width: calc(100% - 1px);
  padding: 10px;
  font-size: 1.25em;
  letter-spacing: 1px; }

.ratetable td:first-child, .ratetable th:first-child {
  text-align: left; }

.inception td:first-child {
  padding-left: 30px;
  text-align: left; }

.ratetable td, .ratetable th {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-top: 0;
  border-bottom: 0;
  padding: 8px 10px;
  text-align: center; }

.inception td, .inception th {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-top: 0;
  border-bottom: 0;
  padding: 8px 10px; }

.ratetable th {
  background: #333;
  background: #79c142;
  color: #fff;
  font-weight: 100; }

.ratetable tr:nth-child(odd), .inception tr:nth-child(odd) {
  background: #eee; }

.ratetable tr.hr, .inception tr.hr {
  border-bottom: 4px solid #79c142; }

.ratetable .foot {
  background: #333;
  color: #fff; }

.ratetable.twoCol.l-c td, .inception.twoCol.l-c td {
  text-align: left !important; }

.ratetable.twoCol.lr-c td:nth-child(1), .inception.twoCol.lr-c td:nth-child(1) {
  text-align: left !important; }

.ratetable.twoCol.lr-c td:nth-child(2), .inception.twoCol.lr-c td:nth-child(2) {
  text-align: right !important; }

.ratetable.twoCol.lc-c td:nth-child(1), .inception.twoCol.lc-c td:nth-child(1) {
  text-align: left !important; }

.ratetable.twoCol.lc-c td:nth-child(2), .inception.twoCol.lc-c td:nth-child(2) {
  text-align: center !important; }

.ratetable.twoCol.c-c td, .inception.twoCol.c-c td {
  text-align: center !important; }

.ratetable.twoCol.cl-c td:nth-child(1), .inception.twoCol.cl-c td:nth-child(1) {
  text-align: center !important; }

.ratetable.twoCol.cl-c td:nth-child(2), .inception.twoCol.cl-c td:nth-child(2) {
  text-align: left !important; }

.ratetable.twoCol.cr-c td:nth-child(1), .inception.twoCol.cr-c td:nth-child(1) {
  text-align: center !important; }

.ratetable.twoCol.cr-c td:nth-child(2), .inception.twoCol.cr-c td:nth-child(2) {
  text-align: right !important; }

.ratetable.twoCol.r-c td, .inception.twoCol.r-c td {
  text-align: right !important; }

.ratetable.twoCol.rl-c td:nth-child(1), .inception.twoCol.rl-c td:nth-child(1) {
  text-align: right  !important; }

.ratetable.twoCol.rl-c td:nth-child(2), .inception.twoCol.rl-c td:nth-child(2) {
  text-align: left !important; }

.ratetable.twoCol.rc-c td:nth-child(1), .inception.twoCol.rc-c td:nth-child(1) {
  text-align: right !important; }

.ratetable.twoCol.rc-c td:nth-child(2), .inception.twoCol.rc-c td:nth-child(2) {
  text-align: center !important; }

/* Marketing Slider */
.sliderContent {
  position: absolute;
  color: #fff;
  bottom: 50px;
  left: 15%;
  width: calc(100% - 15%);
  padding: 10px;
  font-size: 3em;
  text-align: center; }

.carousel-item {
  max-height: calc(70vh - 90px); }

.disclaimer {
  font-size: .3em !important; }

.owl-dot.active span {
  background: #79c142 !important; }

.owl-theme .owl-dots, .owl-theme .owl-nav {
  text-align: center;
  -webkit-tap-highlight-color: transparent; }

.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1; }

.ma-slider.owl-nav button.owl-next, .ma-slider .owl-nav button.owl-prev, .ma-slider button.owl-dot {
  background: 0 0;
  color: inherit;
  border: none;
  padding: 0 !important;
  font: inherit; }

.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #fff;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity .2s ease;
  border-radius: 30px; }

.partner-slider .owl-dot span {
  background: #000 !important; }

.partner-slider .owl-dot.active span {
  background: #79c142 !important; }

.ma-slider {
  z-index: unset; }

.fullSlide {
  height: 100vh; }

.slideHeading {
  line-height: 1.25em;
  font-size: 1.3em;
  text-transform: capitalize;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33); }
  @media (min-width: 576px) {
    .slideHeading {
      font-size: 1.5em; } }
  @media (min-width: 768px) {
    .slideHeading {
      font-size: 1.75em; } }
  @media (min-width: 992px) {
    .slideHeading {
      font-size: 2em; } }

.slideDetails {
  font-size: .5em;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33); }

.slideIn p {
  font-size: .5em;
  padding: 10px 0;
  margin: 0;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33); }

.slideIn a {
  font-size: .5em;
  color: #fff;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 25px;
  padding: 10px 20px;
  text-transform: capitalize;
  text-decoration: none; }

.slideIn a:hover {
  color: #fff;
  background: #79c142; }

.slideIn {
  width: calc(100% - 10%);
  margin: 0 auto;
  position: absolute;
  top: 25vh;
  left: 5%;
  color: #fff;
  font-size: 2em;
  text-align: center; }

.owl-nav {
  position: absolute;
  height: 50px;
  font-size: 50px;
  line-height: 30px;
  margin: 0 !important;
  bottom: 0;
  width: 100%;
  z-index: 5; }

.owl-prev a, .owl-next a {
  color: #fff !important; }

.owl-prev, .owl-next {
  background: #79c142 !important;
  width: 50px;
  height: 50px;
  margin: 0 !important;
  border-radius: 0 !important;
  z-index: 11;
  font-size: .8em !important;
  line-height: 60px !important; }

.owl-prev {
  float: left; }

.owl-next {
  float: right; }

.owl-nav span {
  position: relative;
  bottom: 10px;
  color: #fff; }

.owl-dots {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 15; }

@media (min-width: 768px) {
  .sliderContent {
    position: absolute;
    color: #fff;
    bottom: 50px;
    left: 15%;
    width: calc(100% - 30%);
    padding: 10px;
    font-size: 3em;
    text-align: center; }

  .carousel-item {
    max-height: calc(70vh - 90px); }

  .disclaimer {
    font-size: .3em !important; }

  .ma-slider {
    z-index: unset; }

  .fullSlide {
    height: 100vh; }

  .slideIn p {
    font-size: .5em;
    padding: 25px;
    margin: 0; }

  .slideIn a {
    font-size: .5em;
    color: #fff;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 25px;
    padding: 10px 20px; }

  .slideIn {
    width: calc(100% - 15%);
    margin: 0 auto;
    position: absolute;
    top: 37vh;
    left: 7.5%;
    color: #fff;
    padding: 10px;
    font-size: 3em;
    text-align: center; }

  .owl-nav {
    position: absolute;
    height: 50px;
    font-size: 50px;
    line-height: 30px;
    margin: 0 !important;
    bottom: 0;
    width: 100%;
    z-index: 5; }

  button.owl-prev a, button.owl-next a {
    color: #fff !important; }

  button.owl-prev, button.owl-next {
    background: #79c142 !important;
    width: 50px;
    height: 50px;
    margin: 0 !important;
    border-radius: 0 !important;
    z-index: 11;
    font-size: .8em !important; }

  button.owl-prev {
    float: left; }

  button.owl-next {
    float: right; }

  .owl-nav span {
    position: relative;
    bottom: 10px; }

  .owl-dots {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 15; } }
.owl-nav {
  z-index: 105 !important;
  cursor: pointer; }

.featured-btn-no-animation {
  font-size: 1em;
  color: #fff;
  background: rgba(0, 0, 0, 0.9);
  border-radius: 25px;
  padding: 5px 10px;
  text-transform: capitalize;
  text-decoration: none;
  display: block;
  width: 130px;
  margin: 0 auto !important;
  text-align: center; }
  @media (min-width: 576px) {
    .featured-btn-no-animation {
      padding: 10px 20px; } }
  @media (min-width: 768px) {
    .featured-btn-no-animation {
      width: unset;
      margin: unset;
      display: inline-block; } }
  @media (min-width: 1200px) {
    .featured-btn-no-animation {
      display: block;
      width: 130px;
      margin: 0 auto; } }

.featured-btn-no-animation:hover {
  color: #000;
  background: #fff;
  text-decoration: none; }

.featured-btn-no-animation.no-btn {
  background: none !important;
  padding: 0 !important;
  margin: 0 !important;
  font-size: 1.5em;
  text-align: center;
  text-transform: lowercase;
  width: 100%; }

.no-btn:hover {
  background: none;
  color: #fff; }

.owl-item.active .slideHeading {
  animation-name: moveInUp;
  animation-duration: 0.6s;
  animation-delay: 0.3s;
  animation-timing-function: ease;
  animation-fill-mode: both;
  backface-visibility: hidden; }

.owl-item.active .slideDetails {
  animation-name: moveInUp;
  animation-duration: 0.7s;
  animation-delay: 0.35s;
  animation-timing-function: ease;
  animation-fill-mode: both;
  backface-visibility: hidden; }

.owl-item.active .featured-btn {
  animation-name: moveInUp;
  animation-duration: 0.75s;
  animation-delay: 0.6s;
  animation-timing-function: ease;
  animation-fill-mode: both;
  backface-visibility: hidden; }

.owl-item.active .disclaimer {
  animation-name: moveInUp;
  animation-duration: 0.8s;
  animation-delay: 0.45s;
  animation-timing-function: ease;
  animation-fill-mode: both;
  backface-visibility: hidden; }

@Keyframes moveInUp {
  0% {
    opacity: 0;
    transform: translateY(50px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }
.fr-slider .item h1 {
  width: 93%; }

.fr-slider .more {
  float: right;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: flex-end;
  height: 10px;
  transform: rotate(-90deg);
  position: relative;
  top: 100px;
  left: 10px;
  display: none; }

.fr-block {
  width: 100%; }

a.fr-block {
  color: #fff !important; }

a.fr-block:hover {
  color: #fff !important;
  text-decoration: none !important; }

.fr-content div {
  margin: 0;
  line-height: 1.25em; }

.fr-content .percent, .fr-content .acronym {
  display: inline-block; }

.fr-content .aslowas {
  margin: 0; }

@media (min-width: 768px) {
  .fr-content > div {
    margin-bottom: 20px;
    line-height: 1.5em; }

  .fr-slider .ii-wrapper {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row; }

  .fr-slider .item-item {
    width: 50%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    color: #fff; }

  .fr-slider .more {
    display: block;
    height: 10px; }

  .fr-slider .item {
    background: #fff;
    width: 100vw !important; } }
@media (min-width: 992px) {
  .fr-wrapper-wrapper {
    width: 100%;
    display: flex; }

  .fr-slider-wrapper {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row;
    width: 100%; }

  .fr-slider {
    width: 100vw;
    padding: 50px 0; }

  .fr-cta {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row;
    width: 25vw;
    height: 442px;
    background: #eee; }

  .fr-slider .item {
    width: 100vw !important; } }
.fr-slider {
  padding: 50px 0;
  background: #fff; }

.fr-slider .item-item {
  color: #fff; }

.fr-wrapper {
  background: #333;
  color: #fff;
  padding-top: 10px; }

.fr-wrapper .row {
  padding: 20px 40px; }

.fr-block div {
  text-align: center;
  margin: 0 auto 10px auto; }

.fr-content {
  width: 95%;
  padding: 20px;
  background: #79c142; }

.fr-content:hover {
  background: #222; }

.fr-content .title {
  font-size: 1.45em;
  padding: 0; }
  @media (min-width: 1350px) {
    .fr-content .title {
      padding: 0; } }

.fr-content .title.longtext {
  padding: 0; }

.fr-content .percent {
  font-size: 3em; }

@media (min-width: 576px) {
  .fr-content div {
    text-align: center;
    margin: 0 auto 20px 0; } }
header {
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  z-index: 950;
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-transition: all .3s;
  transition: all .3s; }
  header a {
    color: #fff;
    -webkit-transition: all .3s;
    transition: all .3s; }
  header img {
    filter: grayscale(1) brightness(100); }

header.scrolling {
  background: white;
  -webkit-transition: all .3s;
  transition: all .3s; }
  header.scrolling a {
    color: #79c142; }
  header.scrolling img {
    filter: initial;
    filter: unset; }

header.scrolling.scrolling2 {
  background: white; }

img.logo {
  height: 60px;
  width: auto;
  margin: 10px; }

@media (min-width: 576px) {
  img.logo {
    width: auto;
    height: 90px;
    margin: 0 20px; } }
@media (min-width: 768px) {
  img.logo {
    margin: 0 0 0 55px; } }
  @media (min-width: 768px) and (min-width: 1255px) {
    img.logo {
      margin-left: 0; } }

.logo-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width: 33.33%; }

.button-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-right: 35px;
  width: 66.66%; }

.h-btn > .bar {
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33);
  -webkit-transition: all .3s;
  /* Safari */
  transition: all .3s; }

.h-btn > .bar.t {
  position: relative;
  transform: rotate(0deg);
  top: 0; }

.h-btn > .bar.m {
  position: relative;
  transform: rotate(0deg);
  top: 0; }

.h-btn > .bar.b {
  position: relative;
  transform: rotate(0deg);
  top: 0; }

.h-btn.active > .bar.t {
  top: 12px;
  transform: rotate(-135deg);
  box-shadow: 0px -1px 2px rgba(0, 0, 0, 0.33); }

.h-btn.active > .bar.m {
  transform: rotateY(90deg); }

.h-btn.active > .bar.b {
  top: -12px;
  transform: rotate(135deg);
  box-shadow: 0px -1px 2px rgba(0, 0, 0, 0.33); }

.fa-lock {
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33); }

.h-wrapper {
  position: fixed;
  right: 20px;
  z-index: 110; }

.h-btn {
  position: relative;
  top: calc(85px / 3);
  height: 30px;
  width: 50px;
  background: none;
  color: #fff;
  cursor: pointer;
  vertical-align: top;
  margin-right: 20px;
  border: 0; }

.h-btn:first-child {
  border: 0;
  margin-right: 20px; }

.bar {
  display: block;
  width: 35px;
  height: 2px;
  margin: 0 auto 10px auto;
  background-color: #fff; }

span.hb {
  font-family: 'Raleway', sans-serif;
  text-transform: none;
  display: none; }

.hb {
  width: 50px;
  font-size: 1em;
  background: transparent;
  border: 0;
  color: #fff;
  cursor: pointer; }
  @media (min-width: 576px) {
    .hb {
      width: 70px;
      padding: 0 0 10px 0; } }

.fa.fa-lock {
  width: unset;
  font-size: 2em;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center; }

#slideMenu {
  position: fixed;
  right: -300px;
  z-index: 107;
  background: rgba(0, 0, 0, 0.75);
  width: 300px;
  height: 100vh;
  -webkit-transition: all 0.4s cubic-bezier(0.82, 0.01, 0.35, 0.98);
  /* Safari */
  transition: all 0.4s cubic-bezier(0.82, 0.01, 0.35, 0.98); }

#slideMenu.active {
  right: 0;
  overflow-y: scroll;
  -webkit-transition: all 0.4s cubic-bezier(0.82, 0.01, 0.35, 0.98);
  /* Safari */
  transition: all 0.4s cubic-bezier(0.82, 0.01, 0.35, 0.98); }

#overlay {
  transform: scale(0);
  border-radius: 1000px;
  height: 100% !important;
  width: 100% !important;
  z-index: 105 !important;
  background: rgba(0, 0, 0, 0);
  position: fixed;
  left: 58vw;
  -webkit-transition: all 0.5s cubic-bezier(0.82, 0.01, 0.35, 0.98);
  transition: all 0.5s cubic-bezier(0.82, 0.01, 0.35, 0.98); }

#overlay.active {
  transform: scale(3);
  background: rgba(0, 0, 0, 0.75);
  position: fixed;
  top: 0;
  left: 0;
  cursor: url(../images/close.png), auto;
  -webkit-transition: all 0.5s cubic-bezier(0.82, 0.01, 0.35, 0.98);
  transition: all 0.5s cubic-bezier(0.82, 0.01, 0.35, 0.98); }

@media (min-width: 768px) {
  .logo {
    height: 67px;
    width: auto;
    margin: 10px 40px; }

  .logo img {
    width: 70%;
    margin: 0 auto;
    display: block; }

  .h-wrapper {
    position: fixed;
    right: 20px;
    z-index: 110; }

  .h-btn {
    position: relative;
    top: calc(85px / 3);
    height: 30px;
    background: none;
    color: #fff;
    cursor: pointer;
    vertical-align: top;
    margin-right: 40px;
    border: 0; }

  .h-btn:first-child {
    border: 1px solid #fff; }

  .bar {
    display: block;
    width: 35px;
    height: 2px;
    margin: 0 auto 10px auto;
    background-color: #fff; }

  span.hb {
    font-family: 'Raleway', sans-serif;
    text-transform: none;
    display: block;
    padding-left: 5px; }

  .fa.fa-lock {
    width: unset; } }
#overlay.active {
  transform: scale(3);
  background: rgba(0, 0, 0, 0.75);
  position: fixed;
  top: 0;
  left: 0;
  cursor: url(../images/close.png), auto;
  -webkit-transition: all 0.5s cubic-bezier(0.82, 0.01, 0.35, 0.98);
  transition: all 0.5s cubic-bezier(0.82, 0.01, 0.35, 0.98); }

#overlay {
  transform: scale(0);
  border-radius: 1000px;
  height: 100% !important;
  width: 100% !important;
  z-index: 106 !important;
  background: rgba(0, 0, 0, 0);
  position: fixed;
  left: 58vw;
  -webkit-transition: all 0.5s cubic-bezier(0.82, 0.01, 0.35, 0.98);
  transition: all 0.5s cubic-bezier(0.82, 0.01, 0.35, 0.98); }

.owl-nav {
  position: absolute;
  height: 50px;
  font-size: 50px;
  line-height: 30px;
  margin: 0 !important;
  bottom: 0;
  width: 100%;
  z-index: 5; }

.owl-prev a, .owl-next a {
  color: #fff !important; }

.owl-prev, .owl-next {
  background: #ee3124 !important;
  width: 50px;
  height: 50px;
  margin: 0 !important;
  border-radius: 0 !important;
  z-index: 11;
  font-size: .8em !important;
  line-height: 60px !important; }

.owl-dots {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 15; }

.ma-slider {
  z-index: unset; }

.owl-dots {
  width: calc(100% - 30%);
  left: 15%;
  z-index: 150; }

.owl-theme .owl-controls .owl-page {
  display: inline-block; }

.owl-theme .owl-controls .owl-page span {
  background: none repeat scroll 0 0 #869791;
  border-radius: 20px;
  display: block;
  height: 12px;
  margin: 5px 7px;
  opacity: 0.5;
  width: 12px; }

.footer-container {
  background: #21272f;
  color: #fff;
  padding: 40px;
  font-size: 14px; }
  .footer-container .col-12 {
    margin: 20px 0; }
  .footer-container .f-ncua {
    width: 100%; }
  .footer-container .copyrights {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    align-items: flex-end; }
  @media (min-width: 1200px) {
    .footer-container .row {
      max-width: 1200px;
      margin: 0 auto; } }
  .footer-container a, .footer-container .btn-link {
    color: #fff !important;
    text-decoration: none !important; }
  .footer-container a:hover, .footer-container .btn-link:hover {
    color: #79c142 !important;
    cursor: pointer; }

header {
  box-shadow: 0px -15px 25px rgba(0, 0, 0, 0.5); }

.header-inner {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }

.max {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto; }

.button-wrapper nav {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width: 70%;
  align-items: center; }
  .button-wrapper nav a {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    width: 65%;
    font-size: 1.5em;
    justify-content: center;
    text-align: center; }
    .button-wrapper nav a:hover {
      color: #000;
      background: #79c142;
      padding: 25px 0; }
    @media (min-width: 768px) {
      .button-wrapper nav a {
        width: 33.33%; } }

button#navBtn {
  display: block; }
  @media (min-width: 768px) {
    button#navBtn {
      display: none; } }

.hero {
  height: 50vh;
  width: 100vw;
  background: #111;
  margin-bottom: 80px; }

.content-wrapper {
  padding: 0 55px; }
  @media (min-width: 1255px) {
    .content-wrapper {
      padding: 0; } }
  .content-wrapper p:last-child {
    margin-bottom: 80px; }

.contact-form {
  margin: 40px 0; }
  .contact-form label {
    font-size: 1em; }
  .contact-form .fw-input input, .contact-form .fw-input textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    font-size: 1em; }
  .contact-form .fw-input.submit {
    width: 100%; }
    .contact-form .fw-input.submit input[type="submit"] {
      width: 100%;
      height: 40px;
      background: #79c142;
      cursor: pointer; }
  .contact-form small {
    color: #e20000; }

.hours {
  width: 100%; }
  @media (min-width: 768px) {
    .hours {
      width: 35%; } }

#nav {
  transition: transform .33s ease-out;
  display: flex; }
  @media (max-width: 767px) {
    #nav {
      position: absolute;
      flex-flow: column;
      top: 0;
      left: 0;
      width: 100vw !important;
      height: 100vh;
      justify-content: center;
      font-size: 3em;
      transform-style: preserve-3d;
      transform: translateX(50vw) scale(0) rotateY(90deg); } }

#nav.active {
  transform: translateX(0) scale(1) rotateY(0deg); }

.modal-body p.bold {
  font-size: 1.25em;
  font-weight: bold; }

/* Sitemap */
.basic-sitemap {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  padding-bottom: 40px; }
  .basic-sitemap ul {
    margin: 0 0;
    padding: 0 0;
    list-style: none;
    width: 100%;
    float: left;
    position: relative; }
  .basic-sitemap a {
    display: inline-block;
    text-decoration: none;
    position: relative;
    z-index: 10; }
  .basic-sitemap li {
    display: block;
    position: relative; }
  .basic-sitemap li.home {
    padding-bottom: 25px; }
    .basic-sitemap li.home a {
      padding: 6px 25px;
      background: #79c142;
      color: #FFF;
      z-index: 5;
      line-height: 1.3;
      font-size: 17px; }
      .basic-sitemap li.home a i {
        display: inline-block;
        margin-right: 6px; }
    .basic-sitemap li.home .vline {
      display: block;
      width: auto;
      height: 100%;
      position: absolute;
      top: 0;
      left: 25px;
      text-align: center; }
      .basic-sitemap li.home .vline:after {
        content: "";
        display: inline-block;
        width: 1px;
        height: 100%;
        background: #79c142; }
  .basic-sitemap ul.parents {
    margin-left: 25px; }
    .basic-sitemap ul.parents li {
      display: block;
      margin: 0 0;
      width: 100%;
      float: left;
      border-left: 1px solid #79c142; }
      .basic-sitemap ul.parents li ul {
        padding-left: 40px; }
    .basic-sitemap ul.parents a {
      color: #79c142;
      padding: 8px 10px 7px 23px;
      float: left;
      font-weight: 600; }
      .basic-sitemap ul.parents a:before {
        content: "";
        display: block;
        width: 15px;
        height: 1px;
        border-bottom: 1px solid #79c142;
        position: absolute;
        left: 0;
        top: 20px; }
      .basic-sitemap ul.parents a:hover {
        color: #79c142; }
    .basic-sitemap ul.parents a.has-children {
      border-left: none; }
    .basic-sitemap ul.parents li.last {
      border-left: none; }
      .basic-sitemap ul.parents li.last:before {
        content: "";
        display: block;
        width: 1px;
        height: 20px;
        background: #79c142;
        position: absolute;
        top: 0;
        left: 0; }

.poweredby {
  display: block;
  position: relative;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.6);
  padding-left: 2px;
  padding-top: 2px;
  width: 100%;
  text-align: right; }
  .poweredby a {
    display: inline-block;
    color: #59b915;
    font-size: 13px;
    position: relative;
    top: 0; }
    .poweredby a:before {
      content: "Home";
      color: #59b915;
      position: relative;
      font-weight: 500;
      top: 0; }
  .poweredby .sr-only {
    background: #000;
    color: #FFF; }

.hb-box {
  background: #89b54e;
  width: 325px;
  margin: 0 auto;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 10px 0; }

.hb-wrapper {
  width: 300px;
  margin: 0 auto; }

.hb-title {
  margin: 0 0 10px 0;
  color: #000;
  font-size: 1.6rem;
  text-align: center;
  font-weight: normal; }

.hb-i {
  width: 100%;
  border: 0;
  border-radius: 5px;
  padding: 0 5px 5px 5px;
  font-kerning: 10px;
  text-align: center;
  font-size: 1.5rem;
  font-variant: all-small-caps;
  letter-spacing: 1px;
  word-spacing: 2px; }

.hb-b {
  width: 100%;
  border: 0;
  border-radius: 25px;
  padding: 0 5px 5px 5px;
  text-align: center;
  font-size: 1.6rem;
  font-variant: all-small-caps;
  background: #fff;
  color: #222;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.33);
  margin: 10px 0;
  letter-spacing: 2px; }

.hb-links {
  margin: 0 auto;
  width: 300px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-around; }

.hb-links a {
  color: #000; }

.hb-links a:hover, .hb-links a:focus {
  color: #2D521E; }

#hbLogin .modal-content {
  border: 0;
  border-radius: 0; }

#hbLogin .modal-dialog {
  top: calc(50vh - 200px); }

#hbLogin .modal-header {
  border: 0; }

#hbLogin .modal-title {
  font-size: 1.5em;
  width: 100%;
  text-align: center; }

#hbLogin .featured-btn-no-animation, #hbLogin input[type="submit"] {
  font-size: 1.75em;
  color: #fff;
  background: #21272f;
  border-radius: 25px;
  padding: 0 5px 5px 5px;
  text-transform: capitalize;
  text-decoration: none;
  width: 100%;
  cursor: pointer; }

#hbLogin .close {
  position: absolute;
  top: 17px;
  right: 17px; }

#hbLogin .featured-btn-no-animation:hover, #hbLogin input[type="submit"]:hover {
  color: #fff;
  background: #79c142; }

#hbLogin .hbinput {
  width: 75%;
  padding: 10px 15px;
  border: 0;
  border-bottom: 2px solid #222; }

@media (min-width: 576px) {
  #hbLogin .hbinput {
    width: 80%; } }
#hbLogin .hbinput:hover, #hbLogin .hbinput:focus {
  border-bottom: 2px solid #79c142; }

#hbLogin .hblinks {
  text-align: center;
  padding-top: 20px; }

#hbLogin .hblinks a {
  color: #222; }

#hbLogin .hblinks a:hover {
  text-decoration: none;
  color: #79c142; }

#hbLogin .hblinks a {
  display: inline-block; }

#hbLogin .hblinks a:last-child:after {
  content: ''; }

.modal-header .close {
  margin-left: 0 !important; }

.modal-backdrop {
  z-index: 190; }

.modal-header, .modal-body, .modal-content, .modal-footer {
  background: #fff !important;
  color: #222; }

.app-body {
  padding: 0; }

.apps-wrapper {
  display: flex;
  width: 100%; }

.app {
  display: flex;
  width: 50%;
  background: #21272f;
  height: 50px;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  cursor: pointer; }

.app:hover {
  background: #79c142;
  color: #fff !important; }

/* Exit Pop Modal Styles */
#modal {
  display: none;
  position: fixed;
  top: 150px;
  left: 50%;
  margin-left: -37.5%;
  width: 75%;
  box-shadow: 0px 2px 25px -8px black;
  z-index: 2000;
  padding: 10px 20px;
  background: #fff url("../images/feedback.jpg");
  background-repeat: no-repeat;
  background-position: bottom right; }

#modal.active {
  display: block !important; }

#closeModal {
  float: right;
  cursor: pointer;
  padding: 5px 12px;
  font-size: 1.5em; }

#modal td, #modal p {
  font-size: 1.25em; }

#modal textarea, #modal input, #modal button {
  width: 300px;
  font-size: 1.25em; }

/*# sourceMappingURL=styles.css.map */
