extends partials/layout.pug
block head
	title About #{cu_name}
block content
	include partials/hero.pug
	h1 About
	p With over <strong>24 years</strong> of working with Credit Unions, HomeCU has become an expert in Credit Union Web Design.  Digital products are a <em>must</em> for reaching and growing your field of membership, and that starts with a website that works for you.
	p Upgrading to a Fast, Mobile-Friendly, High-Quality HomeCU Website, you can expect to a natural increase in web traffic, more eyes on your marketing, and a stronger brand image.
	//- Larger credit unions will have marketers looking for developers that understand marketing.  Throwing words could appeal to those prospects without harming the message to those who don't necessarily understand the terms. 
	h2 People aren't printing like they used to.  
	p Our secure forms help with that.  Get new members and completed loan applications digitally from your website.  
	h2 You're not our client.  You're Our Partner.  
	p We'll work with you come up with a web package that fits your needs.  Give us a call.  We'll interview each other, and send you a quote.  