extends partials/layout.pug
block head
	title About #{cu_name}
block content
	include partials/hero.pug
	h1 About
	p With over <strong>24 years</strong> of working with Credit Unions, HomeCU has become an expert in Credit Union Web Design and development.  Digital products are a <em>must</em> for reaching and growing your field of membership, and that starts with a website that works for you and your members.
	p Working with experts in credit union web development has its perks
	ul
		li Fast Loading High-Quality websites naturally increase web traffic.  This means more eyes on your marketing and a stronger brand image.
		li We work with meeting regulations on a regular basis.  That means you will spend less time being the middle-man.  
		li Accessibility is important.  We've spent a lot of time helping credit unions meet ADA Standards and Web Content Accessibility Guidelines (WCAG).  We check our new websites manually as well as with highly reputable auditing tools.  
		li Our Award-winning designers have a knack for building sites that represent your members, making your members feel at home. 

	//- Larger credit unions will have marketers looking for developers that understand marketing.  Throwing words could appeal to those prospects without harming the message to those who don't necessarily understand the terms. 

	h2 Think of your new website as a brand new branch.  A virtual branch - employees included
	p A wise investment in your website means that members can go to your credit union on any device and get 
	ul
		li Help from a teller (An easy to use portal to your Digital Banking)
		li Answers to their questions
		li New promotions from your online marketer to help push conversions

	h2 People aren't printing like they used to.  
	p Our secure forms help with that.  It's a perfect lead generator for getting new members and completed loan applications digitally from your website.  
	//- Good place to put a demo link to a secure loan
	
	//- h2 You're not our client.  You're Our Partner.  
	//- p We'll work with you come up with a web package that fits your needs.  Give us a call.  We'll interview each other, and send you a quote.  