html
	head
		<link rel="stylesheet" href="css/styles.css">
	body
		.contact-form.wrapper
			<form action="https://www#{server_number}.homecu.net/cgi-bin/FormMail2.pl" method="POST">
			<input type="hidden" name="key" value="a8965f2a83c10f0a0a88e2cd9826d125"> 
			<input type="hidden" name="recipient" value="email@email.com">
			<input type="hidden" name="subject" value="Web Site Question/Comment Form">
			<input type="hidden" name="redirect" value="https://www#{server_number}.homecu.net/fi/#{cu_code}/thanks.html">

			<div class="form-process"></div>

			<div class="fw-input">
			<label for="name">Name <small>*</small></label>
			<input type="text" id="name" name="name" value="" class="required" aria-required="true">
			</div>

			<div class="fw-input">
			<label for="email">Email <small>*</small></label>
			<input type="email" id="email" name="email" value="" class="required email" aria-required="true">
			</div>

			<div class="fw-input">
			<label for="phone">Phone</label>
			<input type="text" id="phone" name="phone" value="">
			</div>

			<div class="fw-input">
			<label for="subject">Subject <small>*</small></label>
			<input type="text" id="subject" name="subject" value="" class="required" aria-required="true">
			</div>

			<div class="fw-input">
			<label for="message">Message <small>*</small></label>
			<textarea class="required" id="message" name="message" rows="6" cols="30" aria-required="true"></textarea>
			</div>


			<div class="fw-input submit">
			<input type="submit" value="Send Message">
			</div>

			</form>