p.bold IMPORTANT INFORMATION ABOUT PROCEDURES FOR OPENING A NEW ACCOUNT
p To help the government fight the funding of terrorism and money laundering activities, Federal law requires all financial institutions to obtain, verify, and record information that identifies each person who opens an account at United Poles Federal Credit Union. 

p When you open an account, we will ask you for your name, address, date of birth and other information that will allow us to identify you. We will also ask to see your driver’s license or other identifying documents. 

p If you presently have an account with us and you open additional accounts, add joint owners to an existing account or apply for a loan, we must also verify and retain copies of your identification. 

p We ask for your understanding as we work to support these efforts to maintain the security of your funds and our country.